* {
  margin: 0.5rem;
  padding: 0.5rem;
}
:root {
  font-size: 62.5%; /* Para ajustar a medida da pag e ficar em rem que é uma medida favorável a qlq dispositivo */
}
body {
  font-family: "Times New Roman", Times, serif;
}
table,
td,
th {
  border: 1px solid black;
}
table tr:first-child {
  /* trabalha a primeira linha da tabela */
  background-color: steelblue;
  color: #fff;
}
table tr:nth-child(2n + 2) {
  /* trabalha de 2 em 2 */
  background-color: #999;
}
table {
  font-size: 2.4rem;
  border-collapse: separate;
}
h1 {
  color: rgb(73, 2, 73);
  background-color: violet;
  font-size: 9.6rem;
  font-weight: 900;
  text-transform: capitalize;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
/* h1 { */
  display: none; /* some completamente */
  visibility: hidden; /* ainda ocupa o espaço, mas ñ aparece e desaparece o efeito do cursor */
  opacity: 1; /* ainda ocupa o espaço e deixa cada vez mais transparente conforme diminue o valor */
  /* } */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "roboto", arial, cursiva;
  }
  h2 {
    font-size: 6.4rem;
  }
  p {
    font-size: 1.8rem;
    text-align: justify;
    text-indent: 9rem;
  }
  a {
    font-size: 2.4rem;
    color: red;
    border: solid;
    border-radius: 1.5rem;
    text-decoration: none;
    /* cursor: pointer; transf o cursor em mãozinha qdo hover  (achei inútil, pois já fica assim automaticamente) */
  }
  a:visited {
    color: green;
  }
  div.btn a:hover {
    color: blue;
    box-shadow: 0 0.8rem 1.4rem rgba(0, 0, 0, 0.3);
    transform /*animação*/: scale(1.6)/*aumenta o tam*/ rotate(30deg)/*rotaciona na tela*/ translateY(10rem)/*faz mover*/;
    transition: .3s ease-in-out;
  }
/* div.btn a {
  transition: all 0.3s ease;
  filter: brightness(0.95);
}*/
.bg {
  height: 100vh; /*tamanho da tela*/
  width: 100vw;
  background-color: #999;
  background-image: url(https://images.unsplash.com/photo-1760532780081-a26e9d92da80?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDExfDZzTVZqVExTa2VRfHxlbnwwfHx8fHw%3D&auto=format&fit=crop&q=60&w=1000);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
ul {
  padding-left: 2.4rem;
  font-size: 1.8rem;
}
.boxes {
  position: relative;
}
.box {
  height: 10rem;
  width: 20rem;
  margin: 1.5rem;
  padding: 1.5rem;
  background-color: blue;
  color: #fff;
  border: 1rem solid red;
  display: inline-block;
  border-radius: 0.4rem;
  position: relative;
}
.box:nth-child(1) {
  position: relative; /* "static" desconsidera configurações */
  top: 0rem;
  /* left: 3rem; */
}
.box:nth-child(n + 2) {
  /* display: none; */ /*desaparece tudo */
}
nav.menu {
  /* position: fixed; para fixar o menu no topo */
  background-color: turquoise;
  width: 100%; /* fica do tam da tela na horiz */
  height: 7rem; /* tam na vertical */
  z-index: 1; /* prioridade */
}
.contact-list h2 { /* para fixar a primeira letra do contato ao rolar a tela */
    top: 0rem;
    position: sticky;
    background-color: blueviolet;
}
#companies-table { /* ou pode-se usar .company-tb */
  /* display: none; */
}
[data-company="GOO"] { /* atributo personalizado "data-" */
  background-color: a cor que quiser; 
}
[data-company] {

}
/* pode-ser aplicar qlq configuração dentro do @media */
@media screen and (min-width: 1000px /* medida de computador */) and (max-width: 1024) { /* diferenciar tela de dispositivos */
  .bg {
    height: 50vh;
  }
}
@media print { /* diferenciar na impressão */
  .bg {
    display: none; /* tirar a imagem qdo for imprimir */
  }
}
/* @keyframes Load {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
} */