.boxes {
    height: calc(100vh - 14rem); /* altura é calculada 100% da tela menos o padding inf e sup juntos */
    position: relative;
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    flex-flow: row wrap; /* forma abreviada de direction com wrap */
    justify-content: center; /* trabalha o eixo principal - flex(start, end) space(between, around,  evenly*/
    align-items: center; /* trabalha o eixo segundario */
    align-content: center; /* alinha o conteudo */
    gap: 0rem 5rem; /* espaço vertical, horizontal */
}
.box { /* é possível colocar flexbox dentro de outro flexbox */
    min-height: 10rem;
    min-width: 20rem;
    padding: 1.5rem;
    border: 1rem solid red;
    border-radius: .4rem;
    background-color: blue;
    color: #fff;
    font-size: 4rem;
    display: inline-block;
    order: 10;
    flex-basis: auto; /* trabalha qtde igual */
    flex: 1; /* da o mesmo tamanho para todos os elem flexibilizando-os na tela proporcional */
}
.box:nth-child(2) {
    order: -1; /* padrão zero fica normal, qdo negativo ordena à esquerda, positivo à direita. o num entre parenteses é o item e a ordem posição */
}