* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    color: white;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding: 2rem;
    background-color: #333;
    border-radius: 10px;

    max-width: 700px;
}

main > h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

main #search-form form {
    display: flex;
    gap: 0.5rem;

    width: 100%;
    margin-bottom: 1rem;
}

main #search-form input {
    flex: 1;
    height: 32px;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
    font-size: 16px;
}

main #search-form button {
    background-color: rgb(82, 82, 224);
    color: white;
    border: none;
    padding: 0rem 1rem;
    height: 32px;
    border-radius: 5px;
    cursor: pointer;
}

main #tempo-info {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

main #tempo-info .tempo-dados h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0.2rem;
}

main #tempo-info .tempo-dados span {
    font-size: 2rem;
    font-weight: bold;
}

img {
    margin-top: -1.2rem;
}